<!DOCTYPE html>
<html>
  <head>
    <title>Test Site</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript">
			$(document).on('turbolinks:load', function(){
			$(".button-collapse").sideNav();
			});
		</script>
  </head>

  <body>

  	<header>
	  	<%= render 'layouts/navbar' %>
		</header>
	  
	  <main>
		  <div class="container">
		    <%= yield %>
			</div>
		</main>
	  
	  <footer class="page-footer">
	  	<%= render 'layouts/footer' %>
	 	</footer>

  </body>
</html>
